<footer class="footer-container">
  <div class="links-container">
    <a href="#" title="Dipto Github account"
      ><span class="copy">&copy;</span> Made by Diptop</a
    >
    <div class="github-logo-container">
      <span>Github Repo</span>
      <a
        href="https://github.com/DiptoChakrabarty/node_app"
        target="_blank"
        title="Blog App Repo"
        ><div class="github-logo"></div
      ></a>
    </div>
  </div>
</footer>
