<%- include('partials/header') %>
<h1 class="blog-forum">Welcome to Forum</h1>
<div class="principal-container">
  <ul class="blog-card-container">
  <p><%= blog.body.substring(0,100) %></p>
  <a href="/blogs/<%= blog._id %>">....Read More</a>
</article>

<% }) %> <%- include('partials/footer') %>
  </ul>
</div>
