<%- include('partials/auth')  %>
       

<div class="container">

<form action="/signin" method="POST" class="signup-form" id="contact">
    <div class="form-body">

   
    <h1 class="form-title">Sign In</h1>
         
            <fieldset class="fieldset">
              <legend class="legend">Insert your name</legend>
              <label for="name">Name</label>
                <input class="signup-form-input" name="username" id="name"  placeholder="Name" type="text"
                 required autofocus>
                
                </fieldset>
    

            <fieldset class="fieldset">
              <legend class="legend">Insert your password</legend>
              <label for="password">Password</label>
                <input class="signup-form-input" name="password" placeholder="Password" id="password" type="password" required>
                
            </fieldset>
         
          <p>
              <input type="submit" value="Login" id="submit" class="btn">
          </p>
        </div>
      </form>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    </div>
    
        <%- include('partials/footer')  %>
