<%- include('partials/auth')  %>
       

<div class="container">

<form action="/signin" method="POST" class="signup-form" id="contact">
    <div class="form-body">

   
    <h2 class="form-title">Sign In</h2>
         
            <fieldset class="fieldset">
                <input class="signup-form-input" name="username" id="name"  placeholder="Name" type="text"
                tabindex="1" required autofocus>
                <label for="name"></label>
                </fieldset>
    

            <fieldset class="fieldset">
                <input class="signup-form-input" name="password" placeholder="Password" type="password" tabindex="3" required>
                <label for="password"></label>
            </fieldset>
         
          <p>
              <input type="submit" value="Login" id="submit" class="btn">
          </p>
        </div>
      </form>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    </div>
    
        <%- include('partials/footer')  %>
