<%- include('partials/auth') %>

<div class="container">
  <form action="/signup" method="post" class="signup-form">
    <div class="form-body">
      <h1 class="form-title">sign up</h2>

      <fieldset class="fieldset">
        <legend class="legend">Insert your username</legend>
        <label for="name">Name</label>
        <input
          class="signup-form-input"
          name="username"
          id="name"
          placeholder="Name"
          type="text"
          required
          autofocus
        />
        
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend">Insert your email</legend>
        <label for="email">E-mail</label>
        <input
          class="signup-form-input"
          placeholder="Email"
          type="email" id="email"
          required
        />
        
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend">Insert your mobile number</legend>
        <label for="mobile-number">Mobile Number</label>
        <input
          class="signup-form-input"
          placeholder="Mobile Number"
          type="tel" id="mobile-number"
          required
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend">Choose your genre</legend>
        <label><input type="radio" name="hosting" value="yes" /> Male</label>
        <label><input type="radio" name="hosting" value="no" /> Female</label>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend">Insert your birthdate</legend>
        <label for="date-birth">Date of Birth</label>
        <input
          class="signup-form-input"
          name=""
          type="date"
          placeholder="Your Dae Of Birth"
          type="date" id="date-birth"
          required
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend">Create your new password</legend>
        <label for="password">Password</label>
        <input
          class="signup-form-input"
          name="password"
          placeholder="Password"
          type="password" id="password"
          required
        />
      </fieldset>

      <p>
        <input
          class="signup-form-input btn"
          type="submit"
          value="Create My Account"
          id="submit"
        />
      </p>
      <h2>
        Have an account? <a class="signin-link" href="/signin">Sign In</a>
      </h2>
    </div>
  </form>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
