<%- include('partials/auth')  %>
       

<div class="container">

<form action="/signin" method="POST" class="signup-form" id="contact">
    <div class="form-body">

   
    <h2>Sign Up</h2>
         
            <fieldset>
                <input name="username" id="name"  placeholder="Name" type="text"
                tabindex="1" required autofocus>
                <label for="name"></label>
                </fieldset>
    

            <fieldset>
                <input name="password" placeholder="password" type="password" tabindex="3" required>
                <label for="password"></label>
            </fieldset>
         
          <p>
              <input type="submit" value="Login" id="submit" class="btn">
          </p>
        </div>
      </form>

    </div>
        <%- include('partials/footer')  %>
