<%- include('../partials/header') %>
<div class="ui main text container segment">
  <div class="ui huge header">Add Comment for <%=blog.title %></div>
  <form class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
    <div class="field">
      <label for="content">Content</label>
      <input
        type="text"
        name="comments[content]"
        placeholder="content"
        id="content"
      />
    </div>
    <div class="field">
      <label for="author">Author</label>
      <input
        type="text"
        name="comments[author]"
        placeholder="author"
        id="author"
      />
    </div>

    <button class="ui violet big basic button" type="submit">Send</button>
  </form>
</div>

<%- include('../partials/footer') %>
