<%- include('../partials/header')  %>
<div class="ui main text container segment">
    <div class="ui huge header">Add Comment for <%=blog.title %></div>
    <form  class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
        <div class="field">
            <label >Content</label>
            <input type="text" name="comments[content]" placeholder="content">
        </div>
        <div class="field">
            <label >Author</label>
            <input type="text" name="comments[author]" placeholder="author">
        </div>
        
   
    
    
    <input class="ui violet big basic button" type="submit" >
    
    </form>
</div>

<%- include('../partials/footer')  %>