/*PRINCIPAL STYLES*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  background: #0e1515;
}
.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-forum {
  text-align: center;
}
/*BLOG CARD STYLES*/
.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90vw;
  justify-content: center;
}

