*
{
    font-family: 'Roboto', sans-serif;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}
body
    {
        
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        color: rgb(235, 90, 6);
        background: #e7d106;
    }
.container
    {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;position: relative;
    }
#contact
    {
        font-family: 'Roboto', sans-serif;
        background: #e4f4f7;
        padding: 25px;
        margin: 50px 0;
    }
#contact h3
    {
        font-family: 'Roboto', sans-serif;
        color: #4aa4ed;
        display: block;
        font-size: 30px;
        font-weight: 400;
    }
    #contact h4
    {
        font-family: 'Roboto', sans-serif;
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
    }
fieldset
    {
        font-family: 'Roboto', sans-serif;
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }
    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="date"],
    #contact input[type="password"],
    #contact textarea
    {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        border: 1px solid rgb(204, 204, 204);
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
    }
   .btn
    {
        font-family: 'Roboto', sans-serif;cursor: pointer;
        width: 100%;
        border: none;
        background: #06c406;
        color: #FFF;
        margin: 0 0 5px;
        padding: 15px;
        font-size: 15px;
    }
    .btn
    {
        font-family: 'Roboto', sans-serif;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .dropdown-content
    {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        border: 1px solid #CCC;
        background: rgb(255, 255, 255);
        margin: 0 0 5px;
        padding: 10px;
    }