* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("/wave.svg") no-repeat;
  background-position-y: bottom;
  background-size: contain;
  background-color: #f0f8ff52;
}
.nav {
  position: relative;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}
.nav a:nth-child(2) {
  margin: 0 20px;
}
.btn {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background: #499df2;
  text-align: center;
  line-height: 2.3;
  font-weight: bold;
  transition: background-color, box-shadow 0.4s ease;
  will-change: auto;
  box-shadow: 1px 1px 6px -1px grey;
}
.btn:hover {
  background-color: #50a3a2;
  box-shadow: none;
}
.copy-container {
  position: relative;
  max-width: 317px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 180px 0 0 15px;
  z-index: 6;
}
.copy-body {
  font-size: 2em;
}
.copy-header {
  text-align: center;
  margin-top: 10px;
  color: #1b264f;
  font-size: 2.5rem;
}
.sing-btn {
  width: 100%;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
strong {
  color: #1b264f;
}
.cube {
  width: 260px;
  height: 260px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-color: #6262a7ab;
  position: absolute;
  right: 80px;
  top: 160px;
  animation: floating 4s infinite;
  will-change: auto;
  border-radius: 5px;
}
.triangle {
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #49a2907a;
  position: absolute;
  right: 80px;
  top: 355px;
  animation: floating-3d 3s linear infinite alternate;
  will-change: auto;
  border-radius: 5px;
}
@keyframes floating {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes floating-3d {
  0% {
    transform: translate3d(-10px, -10px, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(-20px, 20px, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(30px, 0px, 0);
    opacity: 1;
  }
}
